body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003580;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #003580;
}

footer {
    background-color: #003580;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Style de la section des prochains vols */
#vols {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#vols ul {
    list-style-type: none;
    padding: 0;
}

#vols ul li {
    margin-bottom: 10px;
}

/* Style de la section de candidature */
#candidature {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

#candidature label {
    font-weight: bold;
}

#candidature input, #candidature textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#candidature button {
    padding: 10px 20px;
    background-color: #003580;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style de la section staff */
#staff {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

#staff label {
    font-weight: bold;
}

#staff input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#staff button {
    padding: 10px 20px;
    background-color: #003580;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

